.delete-habit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	background: 0;
	color: black;
	border: none;
	font-size: 20px;
}

.activate-habit {
	position: absolute;

	right: 0;
	padding: 0;
	background: 0;
	color: black;
	border: none;
	font-size: 16px;
}

.steps-available {
	text-align: center;
	margin-bottom: 2px;
}
