.wrapper {
	position: relative;
	width: 100%;
	color: var(--highlight);
	position: relative;
	padding: 20px 5% 0 5%;
	min-height: 100vh;
}
.habit-page.wrapper {
	display: flex;
	flex-direction: column;
}
.user-QOTD-wrapper {
	padding-right: 10%;
}
.user-QOTD {
	height: 400px;
	width: 600px;
	border-radius: 25px;
	padding: 40px 7% 40px 7%;
	color: var(--dark-grey);
}
.user-wrapper {
	display: flex;
	justify-content: space-between;
	height: 300px;
	width: 100%;
}
.user-image {
	width: 30%;
}
.user-image img {
	width: 100%;
	border-radius: 50%;
}
.user-meta-wrapper {
	text-align: center;
	text-transform: uppercase;
}

.user-info-wrapper {
	display: flex;
	gap: 15px;
}

.qotd-container {
	width: 100%;
	font-size: larger;
}

.qotd {
	height: 100%;
	margin: 0 auto;

	text-align: left;
}

.quote-author {
	text-align: center;
	font-size: medium;
}

.habit-type-selection-wrapper {
	margin-top: 40px;
}
.habit-cards {
	width: 100%;
}
.habit-container {
	padding: 0px;
}

.progress {
	width: 10%;
	height: 100%;
	background: transparent;
}

.habit-card {
	height: 100px;
}

.input-preview {
	border: none;
	margin-left: 0;
	min-height: 16px;
	background-color: white;
	padding: 0;
	color: black;
	resize: none;
}

.hide-form {
	position: absolute;
	background-color: white;
	color: black;
	height: 100%;
	width: 100%;
}

.logo-wrapper img {
	height: 100px;
	width: 100px;
}
/* #input-box {
	display: block;
	height: 100%;
	width: 100%;
} */
.show-button {
	display: inline-block;
}
.hide-button {
	display: none;
}
.hide {
	display: none;
}

.habit-list {
	display: flex;

	background: rgb(65, 65, 65);
}

.habit-card {
	justify-content: center;
	font-size: larger;
	background: var(--dark-gold);
}

.habits-wrapper {
	background: var(--light-blue);
}

.progress-bar-wrap {
	width: 150px;
	height: 150px;
	background: #fefcff;
	border-radius: 50%;
	border: 1px solid #cdcbd0;
}

.progress-bar-wrap .progress-bar .mask,
.progress-bar-wrap .progress-bar .fill {
	top: 23px;
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

.mask .fill {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #227ded;
}

.progress-bar-wrap .progress-bar .mask {
	clip: rect(0px, 150px, 150px, 75px);
}

.mask.full,
.progress-bar .fill {
	animation: fill ease-in-out 3s;
	transform: rotate(135deg);
}

@keyframes fill {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(135deg);
	}
}
.progress-bar-wrap .inside-circle {
	width: 122px;
	height: 122px;
	border-radius: 50%;
	background: #d2eaf1;
	line-height: 120px;
	text-align: center;
	margin-top: 14px;
	margin-left: 14px;
	color: #1e51dc;
	position: absolute;
	z-index: 100;
	font-weight: 700;
	font-size: 2em;
}
