.header-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background:
	/* linear-gradient(
		to top,
		rgba(0, 0, 0, 0), */ rgba(
		217,
		196,
		133,
		1
	);
	/* ); */
}

.nav-container {
	width: 100%;
}
.top-nav {
	margin-right: 0;
}
.nav-text {
	color: white;
}
