#profile-container {
	background: none;

	padding: 30px 20px 20px 15px;
	margin-top: 69px;
	width: 25%;
}

.user-image {
	/* text-align: center; */
}
.user-image img {
	border-radius: 10px;
	width: 50%;
}
.user-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 1px;
}

.user-meta-wrapper {
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: underline;
}

.user-info-wrapper {
	display: flex;
	justify-content: center;
	height: 30px;
	font-size: 20px;
	font-weight: 600;
}

.tier {
	font-size: large;
}

.progress-section {
	width: 100%;
	font-size: 20px;
	min-height: 100%;
	margin-top: 20px;
	/* border-left: 5px var(--dark-grey) solid; */
}

.next-level {
	margin-top: 5px;
}

.right-container {
	margin-left: 25%;
}

.qotd-container {
	padding-top: 80px;
}

.qotd {
	/* margin-top: 50px;
	margin-bottom: 20px; */
	display: flex;
	background: var(--highlight);
	border-radius: 15px;
	border: 1px solid var(--dark-grey);
	align-items: center;
	flex-direction: column;
}
.quote {
	font-size: 40px;
}
.quote-author {
	font-size: 30px;

	align-self: flex-end;
	margin-right: 15%;
}

.journal-container {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
.journal-container > * {
	margin-bottom: 30px;
}

.journal-entry {
	background-color: antiquewhite;
	margin-top: 20px;
	padding: 15px;
	border-radius: 10px;
}
.entry {
	margin-right: 10px;
}
#entry-text {
	flex-direction: column;
	align-items: start;
}

.entry-header p {
	justify-content: center;
}
/* ******************************************************** */

.streak {
	border-right: 1px solid black;
}

.add-profile-image {
	max-width: 100px;
	max-height: 100px;
}

.progress-info-container {
	width: 100%;
	text-align: center;
}
.progress-brief {
	margin-bottom: 20px;
}

.progress-brief h2 {
	text-decoration: underline;
}

.progress-brief p {
	text-align: center;
}

.progress-brief-info {
	margin-bottom: 50px;
}
.progress-brief-info li {
	margin-bottom: 10px;
	list-style: circle;
}

/* .edit-icon {
	position: absolute;
	left: 45%;
	bottom: 45%;
	color: var(--highlight);
	font-size: xxx-large;
} */
