@import url("./styles/profile.css");
@import url("./styles/home.css");
@import url("./styles/header.css");
@import url("./styles/login.css");
@import url("./styles/register.css");
@import url("./styles/habitpage.css");
@import url("./styles/journal.css");
@import url("./styles/_variables.css");

.all-content-wrapper {
	min-height: 100vh;
	height: 100%;
	background: linear-gradient(45deg, #111, #333);
	/* background: linear-gradient(45deg, rgb(135 129 255), rgb(255 110 110)); */
	padding-left: 5%;
	padding-right: 5%;
}
.block {
	flex-direction: column;
}
