@import url("./styles/profile.css");
@import url("./styles/home.css");
@import url("./styles/header.css");
@import url("./styles/login.css");
@import url("./styles/register.css");
@import url("./styles/habitpage.css");
@import url("./styles/journal.css");
@import url("./styles/habitHTML.css");
@import url("./styles/_variables.css");
li {
	list-style: none;
}

.all-content-wrapper {
	min-height: 100vh;
	padding-top: 75px;
	height: 100%;
	/* background: linear-gradient(45deg, rgb(60, 40, 115), rgb(40, 85, 210)); */
	background: var(--gradient);
	padding-left: 5%;
	padding-right: 5%;
}

.block {
	flex-direction: column;
}
.dark-text {
	color: var(---darker-grey);
}
.navigate-text {
	text-align: center;
}

.text-center,
.show-password {
	color: var(--darker-grey);
}
